.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-2);
    padding: 96px 0 78px;
    color: var(--black);
}

.header__title {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
}

@media screen and (max-width: 375px) {
    .header {
        padding: 49px 16px 69px;
        color: var(--grey-4);
    }

    .header__title {
        font-size: 28px;
        line-height: 38px;
    }
}