<div class="tabs">
  <input class="tabs__input" type="radio" name="tabs" id="#all-tab" checked>
  <input class="tabs__input" type="radio" name="tabs" id="#complex-tab">
  <input class="tabs__input" type="radio" name="tabs" id="#simple-tab">

  <div class="tabs__scroller">
    <label class="tabs__item" for="#all-tab">All components</label>
    <label class="tabs__item" for="#complex-tab">Complex</label>
    <label class="tabs__item" for="#simple-tab">Simple</label>
  </div>

    <div class="tabs__content tabs__content_all">
      <!-- Все компоненты -->
    </div>
    <div class="tabs__content tabs__content_complex">
      <!-- Сложные компоненты -->
    </div>
    <div class="tabs__content tabs__content_simple">
      <!-- Простые компоненты -->
    </div>
</div>