.tabs {
    border-bottom: 1px solid var(--grey-2);
}

.tabs__input {
    position: absolute;
    appearance: none;
    opacity: 0;
}

.tabs__scroller {
    background-color: var(--white);
    position: relative;
    overflow-x: auto;
}

.tabs__item {
    display: inline-block;
    font-family: Inter, 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    cursor: pointer;
    position: relative;
    margin-right: 40px;
    border-bottom: 5px solid transparent;
    white-space: nowrap;
}

.tabs__content {
    display: none;
}

/* checked */
.tabs__input[id="#all-tab"]:checked ~ .tabs__scroller .tabs__item[for="#all-tab"] {
    border-color: var(--black);
}
.tabs__input[id="#complex-tab"]:checked ~ .tabs__scroller .tabs__item[for="#complex-tab"] {
    border-color: var(--black);
}
.tabs__input[id="#simple-tab"]:checked ~ .tabs__scroller .tabs__item[for="#simple-tab"] {
    border-color: var(--black);
}
.tabs__input[id="#all-tab"]:checked ~ .tabs__content_all {
    display: block;
}
.tabs__input[id="#complex-tab"]:checked ~ .tabs__content_complex {
    display: block;
}
.tabs__input[id="#simple-tab"]:checked ~ .tabs__content_simple {
    display: block;
}

/* focus */
.tabs__input:focus ~ .tabs__label {
    color: var(--blue);
}