.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: var(--backdrop-color);
}

.modal__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.modal__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: var(--white);
    padding: 30px 40px 33px;
    max-height: 90vh;
    max-width: 90vw;
    overflow: auto;
}

.modal__title {
    color: var(--text-blue);
    font-family: Inter, 'sans-serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 14px;
}

.modal__content {
    color: var(--grey-4);
    font-family: Inter, 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}