.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--grey-1);
}

.page__tabs {
    flex-grow: 1;
}

.page__preview {
    flex-grow: 1;
}

.page_inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 36px;
}