@import 'normalize.css';
@import '../fonts/fonts.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../04-lection2/01-histogram/histogram.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-dark: #5028C6;
    --blue: #4263EB;
    --blue-dark: #2342C0;
    --blue-light: #eceffd;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --gradient-1: #DDE2E5;
    --gradient-2: #E2E6E8;
    --gradient-3: #F3F5F5;
    --gradient-4: #E3E7EA;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --primary-hover: var(--blue-dark);
    --secondary: var(--purple);
    --secondary-hover: var(--purple-dark);

    --shadow-color: rgba(33, 36, 41, 0.05);
    --text-blue: #334D6E;
    --text-grey: #90A0B7;
    --backdrop-color: rgba(196, 196, 196, 0.5);
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
