.calendar {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 28px 26px 32px;
    max-width: 400px;
}

.calendar_preview {
    width: 65%;
}

.calendar__wrapper {
    position: relative;
    padding-top: 100%;
}

.calendar__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: repeat(7, 1fr) / repeat(7, 1fr);
}

.calendar__item {
    color: var(--text-blue);
    font-family: "Source Sans Pro", 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__item_month {
    grid-area: 1 / 1 / 2 / 8;
    display: flex;
    justify-content: center;
    color: var(--text-blue);
    font-family: Inter, 'sans-serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.calendar__item_day {
    color: var(--text-grey);
    text-align: center;
    font-family: Inter, 'sans-serif';
    font-size: 14px;
}

.calendar__item_selected {
    background-color: var(--blue-light);
}

.calendar__item_selected-edge {
    color: var(--white);
    background-color: var(--blue);
}

@media screen and (max-width: 375px) {
    .calendar_preview {
        width: 90%;
        border: none;
        padding: 0;
    }

    .calendar_preview .calendar__item {
        font-size: 8px;
        line-height: 12px;
    }

    .calendar_preview .calendar__item_month {
        font-size: 12px;
        line-height: 16px;
    }

    .calendar_preview .calendar__item_day {
        font-size: 9px;
        line-height: 14px;
    }
}