.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__trigger {
    cursor: pointer;
}

.tooltip__trigger:hover + .tooltip__text {
    display: block;
}

.tooltip__text {
    display: none;
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 100px;
    max-width: 500px;
    border-radius: 10px;
    background-color: var(--blue);
    padding: 13px 21px 14px;
    box-shadow: 0 2px 4px 0 var(--shadow-color);

    color: var(--grey-2);
    text-align: center;
    font-family: Inter, 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.tooltip__text::before {
    content: '';
    display: block;
    border: 6px solid transparent;
    border-top-color: var(--blue);

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}