.logo {
    display: flex;
    column-gap: 8px;
}

.logo__item {
    border: 15px solid var(--black);
    box-sizing: border-box;
}

.logo__item_circle {
    border-radius: 50%;
}

.logo__item_triangle {
    border-top-color: transparent;
    border-right-color: transparent;
}